@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
$secondary-color: color("cyan", "base") !default;
@import 'materialize';

body {
  background-color: #f5f5f5;
}
