@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
$secondary-color: color("cyan", "base") !default;
@import 'materialize';

body {
  background-color: #f5f5f5;
}

.nav-tabs {
  color: #021e55;
}

.toasted {
  background-color: green;
  border-radius: 5px;
  color: white;
  margin-right: 350px;
  margin-top: 22px;
}
